.logo {
    font-weight: bold;
}
.footerContainer {
    margin: 0px;
    padding: 0px 20px 0px 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 10vh;
}
.cols {
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col2 {
    display:flex;
    justify-content: space-between;
    margin: 2px;
}
.d {
    font-size: 8pt;
    display: flex;
    margin-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}
.img {
    width: 25px;
    fill: black;
    margin-left: 20px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
    .footerContainer {
        padding: 0px 100px 0px 100px;  
    }
}